.header {
  margin: auto;
  width: 90%;
  padding-bottom: 10px;
  //   padding-top: 20px;
  margin-bottom: 10px;
  //   border-bottom: solid 2px black;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  h1 {
    #title {
      color: #312b62;
    }
    font-weight: bold;
    font-stretch: extra-expanded;
    margin-bottom: 0px;
  }
  .links {
    a {
      margin-left: 8px;
      color: #312b62;
    }
  }
}

@media (min-width: 768px) {
  .header {
    margin: auto;
    width: 70%;
  }
}

.userInfo {
  margin-top: 40px;

  .tickets {
  }

  .bookings {
    margin-top: 50px;
  }
}
