<h1>New Forum</h1>

<% if user_signed_in? and current_user.admin? %>
<div class="row-fluid" style="padding-left: 10%; padding-right: 10%;margin-top: 3em;">
	<%= render 'form', forum: @forum %>

	<%= link_to 'Back', forums_path, :id => "titulo_sub" %>
</div>
<% end %>