<p>
  <b>Usuario:</b>
  <%= comment.commenter %>
</p>
 
<p>
  <b>Comentario:</b>
  <%= comment.body %>
</p>
<p>
  <b>Votos:</b>
  <% comment.increment(:votes) %>  <!-- lo aumenta en 1 -->
  <%= comment.votes %>
</p>

<% if current_user.username == comment.commenter %> 
  <p>
	
	<%= link_to 'Borrar comentario', [comment.post, comment],
               :confirm => '¿Estas seguro que deseas borrarlo?',
               :method => :delete %>
  </p>
<% end %>