<h1>Editando comentario</h1>

<%= instance_variable_names.inspect %>

<%#= form_for([@post, @comment]) do |c| %>
    <%#= c.input :content %>
    <%#= c.submit "Update thought" %>
<%# end %>

<%#= render 'form', comment: @comment %>

<!--<%#= link_to 'Back', comment.post %>-->