<% if not current_user.admin? %>
	<h1>Oops, no deberias estar aqui!</h1>

	<%= link_to "Volver", root_path , :class => 'customLink'  %>

<% else %>
	<h1>Pagina de admin</h1>



  	<table class=" table table-striped" data-sort-name="name" data-sort-order="desc">
	  <thead>
	    <tr>
	      <th data-field="username" data-sortable="true">Username</th>
	      <th data-field="email" data-sortable="true">Email</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% User.all.each do |user| %>
	      <tr>
	        <td><%= link_to(user.username, user_path(user))%></td>
	        <td><%= user.email %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

<br>


<% end %>