<h2> En esta página se verá la aplicacion iniciada <h2>

<h3> Esta es una imagen insertada <h3>
<%= image_tag("mountain.jpg", :alt => "Mountain view") %>


<h3>Abajo de esto se encuentran los foros</h3>
<%= link_to "Foros", forums_path %>

<p><%= current_user.admin %></p>

<% if current_user.admin? %>
<p><%= current_user.username%> Eres admin!</p>
<% end %>
