<h2> En esta página se verá la aplicacion iniciada <h2>

<h3> Esta es una imagen insertada <h3>
<%= image_tag("mountain.jpg", :alt => "Mountain view") %>

<h3>Abajo de esto se encuentran tus blogs</h3>
<%= link_to "My Blog", posts_path %>