<% info = activity(@user, @forum) %>
<% info["posts"].each do |data| %>
	<p>Post: <%= data["post"].title %></p>
	<% data["comment"].each do |c| %>
		<p>Comentario: <%= c.commenter %></p>
	<% end %>
<% end %>
<% info["comments"].each do |data| %>
	<p>Comentario out: <%= data.commenter %></p>
<% end %>