<h1> Perfil de usuario </h1>

<table class=" table table-striped" data-sort-name="name" data-sort-order="desc">

	  <tbody>
	    <tr>
	      <td>Usuario</td>
	      <td><%= @user.username %></td>
	    </tr>
	    <tr>
	      <td>Correo electrónico</td>
	      <td><%= @user.email %></td>
	    </tr>
	  </tbody>
	</table>

<br>