<h1> Perfil de usuario </h1>

<table class=" table table-striped" data-sort-name="name" data-sort-order="desc">

	  <tbody>
	    <tr>
	      <td>Usuario</td>
	      <td><%= @user.username %></td>
	    </tr>
	    <tr>
	      <td>Correo electrónico</td>
	      <td><%= @user.email %></td>
	    </tr>
	    <!--<tr>
	      <td>Upvotes</td>
	      <%# @user.increment(:likes, 1) %>
	      <td><%#= @user.likes %></td>
	    </tr>
	    <tr>
	      <td>Downvotes</td>
	      <%# @user.decrement(:dislikes, 1) %>
	      <td><%#= @user.dislikes %></td>
	    </tr>-->
	    <!--<tr>
	      <td>DCCBlogger's points</td>
	      <%# @user.calculate_points(:points) %>
	      <td><%= @user.points %></td>
	    </tr>-->
	  </tbody>
	</table>

<br>