// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show_md {
	margin-top: -5px;
	min-height: 4em; 
	border: solid; 
	border-width: 1px;
	border-radius: 5px;
	margin-bottom: 1em;
	border-color: #DCDCDC;
	padding: 1em;
}