<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.username %></h1>
    <h2>
      Te enviamos este email para informarte que te has subscrito al foro '<%= @forum.name %>'
    </h2>
	<p>
		¡Que tengas un buen día!
	</p>
    <footer>
    	<p>
    		Grupo 02-Ingeniería de Software
    	</p>
    </footer>
  </body>
</html>