@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */


/* universal */

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#titlesForum {
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
}




/*HEADER*/

/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #565D78; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: left; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: #FF4500;
    border-color: #FF4500;
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }
    
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}

.b {
  color: #white;
  font-weight: bold;
}



#link_boton {
  color: black;
  /*"color: #DCDCDC;"*/
}

.fa-facebook-square {
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    color: white;
  }
.fa-facebook-square:hover{
  background: #565D78;
}  




/*ITEMS SUBSCRIPCIONES*/

#custom-search-input-2{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input-2 input{
    border: 0;
    box-shadow: none;
}

#custom-search-input-2 button{
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input-2 button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input-2 .glyphicon-search{
    font-size: 23px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}


#dashboardSubsripciones {
  // background-color: gray;
  border-radius: 5px; 

}



#titulo_sub {
    color: #808080;
    text-align: center;
    font-weight: bold;
}
#titulo_sub:hover {
    color: #808080;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
}

#link_sub {
  display: block;

  font-size: 16px;
  color: #808080;

}


#link_sub:hover {
  color: red;
  background-color: #fff;
  text-decoration: none;
}


/*POSTS INICIO */

#dashboardPostInicio {
  background-color: white;
  border-radius: 5px; 
  margin-left: 30px;


}

#con_1 {
    float: left;
    margin-right:5px;
}
#con_2 {
    float: left;
    margin-right:5px;
    text-align: left;
}
#con_3 {
    margin-left:15px;
    float: right;
}
#con_4 {
    float: right
}


.asa:hover {
  cursor:pointer;
  background-color: #f2f2f2;
  text-decoration: none;
  font-size: 1.2em;
}

#cada_post_1:hover {
  background-color: #f2f2f2;
}

#cada_post_1 {
  border: solid;
  border-color: #f2f2f2;
  border-width: 1px;
  padding: 20px 20px 20px 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}



/* NOTIFICATIONS */

/*
Code snippet by hdpixelz for Bootsnipp.com
*/

.glyphicon-bell {
   
    font-size:1.5rem;
    color: white;
  }

.glyphicon-bell:focus {
   
   background: red;
  }

.notifications {
   min-width:320px; 
  }
  
  .notifications-wrapper {
     overflow:auto;
      max-height:250px;
    }
.menu-title {
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    font-weight: bold;
}

.close {
   position: relative;
   top: 10px;
   right: 10px;
   z-index:9999;
 }
 
.glyphicon-circle-arrow-right {
      margin-left:10px;     
   }
  
   
 .notification-heading, .notification-footer  {
  padding:2px 10px;
       }
      
        
.dropdown-menu.divider {
  margin:5px 0;          
  }

.item-title {
    font-size: 1.3rem;
    color: #000;
    font-weight: bold;
    margin: 5px 0px;
}

.notifications a.content {
    text-decoration: none;
    display: block;
    color:#000;
}
.notifications a.content_unread {
    text-decoration: none;
    display: block;
    color:#000;
}
.notification-item {
    position: relative;
    padding: 10px;
    padding-left: 70px;
    padding-bottom: 0px;
}
.notification-item img {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
ul.dropdown-menu.notifications .notifications-wrapper a.content {
    padding: 0px !important;
    background: rgba(0, 0, 0, 0.04);
    border-bottom: 1px solid #d1d1d1;
}
ul.dropdown-menu.notifications .notifications-wrapper a.content_unread {
    padding: 0px !important;
    background: lightsalmon;
    border-bottom: 1px solid #d1d1d1;
}
ul.dropdown-menu.notifications .notifications-wrapper a.content:hover {
    color: #000;
    background: rgba(0, 0, 0, 0.1);
}
ul.dropdown-menu.notifications .notifications-wrapper a.content_unread:hover {
    color: #000;
    background: sandybrown;
}
.login-nav ul.nav.navbar-nav.navbar-right li a {
    display: block;
}
.notification-heading {
    background: #000;.notifications a.content {
    text-decoration: none;
    display: block;
}
    padding: 3px 10px;
}
.notification-heading {
    background: #000;.notifications a.content_unread {
    text-decoration: none;
    display: block;
}
    padding: 3px 10px;
}
ul.dropdown-menu.notifications {
    padding: 0px;
    min-width: 320px;
}
.dropdown .glyphicon-bell {  
    vertical-align: middle;
}
.dropdown{
    list-style:none;
}