// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
  .previous_page { background: white; color: dodgerblue }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: white; color: black; font-size: 16px}
  .next_page { background: white; color: dodgerblue }
  .next_page.disabled { background: white; color: #777 }
}