<!DOCTYPE html>
<html>
  <head>
    <title>DCCBlogger-Grupo 02</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>

  </head>


  <body>

  <body style="background-color: #E6E9ED;">
    
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <%= yield %>

    </div>
  </body>
</html>
